@import "../../../../sass/main";

.card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: .3em;
    width: 100%;
    &--content{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        &__img{
            width: 100%;
            max-width: 450px;
        }
    }
    &--bottom{
        padding: 0 .5em;
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: .3em;
        &__cta{
            display: flex;
            flex-direction: row;
            justify-content: flex-start;
            align-items: center;
            gap: .5em;
        }
        &__likes{
            display: flex;
            flex-direction: row;
            align-items: center;
        }
		&__description{
			display: flex;
			flex-direction: row;
			& > p{
				font-size: .9em;
				& > span{
					font-size: 1em;
					font-weight: 600;
				}
			}

		}
        &__comments{
            display: flex;
            flex-direction: column;
            justify-content: center;
            gap: .2em;
        }
    }
}

.cta-like, .cta-comment{
    @include flexrow-center;
    font-size: 1.7em;
    cursor: pointer;
}

.userlike{
	&-wrapper{
		display: flex;
		flex-direction: row;
		align-items: center;
		transform: translateX(-.35em);
		& > img{
			width: 1.5em;
			height: 1.5em;
			border: 2px solid #fff;
			border-radius: 50%;
			cursor: pointer;
			object-fit: cover;
		}
	}
	&-picture{
		&--solo{
			position: relative;
			transform: translateX(.35em);
			z-index: -1;
		}
		&--duo{
			&__1{
				position: relative;
				transform: translateX(.37em);
				z-index: -1;
			}
			&__2{
				position: relative;
				transform: translateX(-.17em);
				z-index: -2;
			}
		}
		&--trio{
			&__1{
				position: relative;
				transform: translateX(.37em);
				z-index: -1;
			}
			&__2{
				position: relative;
				transform: translateX(-.25em);
				z-index: -2;
			}
			&__3{
				transform: translateX(-.75em);
				position: relative;
				z-index: -3;
			}
		}
	}
	&-by{
		&-one{
			transform: translateX(.3em);
		}
		&-two{
			transform: translateX(-.16em);
		}
		&-more{
			transform: translateX(-.85em);
		}
		font-size: .9em;
		& > span{
			font-weight: 600;
			cursor: pointer;
		}
	}
}

.comment{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: .5em;
    &--author{
        font-size: .9em;
        font-weight: 600;
        cursor: pointer;
    }
    &--content{
        font-size: .9em;
    }
    &--timestamp{
        font-size: .8em;
        color: rgba(0,0,0, .5);
    }
    &--load{
        margin-top: .3em;
        color: rgba(0,0,0, .5);
        font-size: .9em;
        cursor: pointer;
    }
}
