@import "../../../../sass/main";

.card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: .3em;
    width: 100%;
	scroll-margin: 3.2em;
    &--content{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        &__img{
            width: 100%;
            max-width: 450px;
        }
    }
    &--bottom{
        padding: 0 .5em;
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: .3em;
        &__cta{
            display: flex;
            flex-direction: row;
            justify-content: flex-start;
            align-items: center;
            gap: .5em;
        }
        &__likes{
            display: flex;
            flex-direction: row;
            align-items: center;
        }
		&__description{
			display: flex;
			flex-direction: row;
			& > p{
				font-size: .9em;
				& > span{
					font-size: 1em;
					font-weight: 600;
				}
			}

		}
        &__comments{
            display: flex;
            flex-direction: column;
            justify-content: center;
            gap: .2em;
        }
		&__date{
			font-size: .8em;
			color: rgba(0,0,0, .5);
		}
    }
}

.cta-like, .cta-comment{
    @include flexrow-center;
    font-size: 1.7em;
    cursor: pointer;
}

.userlike{
	&-wrapper{
		display: flex;
		flex-direction: row;
		align-items: center;
		transform: translateX(-.35em);
		& > img{
			width: 1.5em;
			height: 1.5em;
			border: 2px solid #fff;
			border-radius: 50%;
			cursor: pointer;
			object-fit: cover;
		}
	}
	&-picture{
		&--solo{
			position: relative;
			transform: translateX(.35em);
			z-index: -1;
		}
		&--duo{
			&__1{
				position: relative;
				transform: translateX(.37em);
				z-index: -1;
			}
			&__2{
				position: relative;
				transform: translateX(-.17em);
				z-index: -2;
			}
		}
		&--trio{
			&__1{
				position: relative;
				transform: translateX(.37em);
				z-index: -1;
			}
			&__2{
				position: relative;
				transform: translateX(-.25em);
				z-index: -2;
			}
			&__3{
				transform: translateX(-.75em);
				position: relative;
				z-index: -3;
			}
		}
	}
	&-by{
		&-one{
			transform: translateX(.3em);
		}
		&-two{
			transform: translateX(-.16em);
		}
		&-more{
			transform: translateX(-.85em);
		}
		font-size: .9em;
		& > span{
			font-weight: 600;
			cursor: pointer;
		}
	}
}

.comment{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: .5em;
    &--author{
        font-size: .9em;
        font-weight: 600;
        cursor: pointer;
    }
    &--content{
        font-size: .9em;
    }
    &--timestamp{
        font-size: .8em;
        color: rgba(0,0,0, .5);
    }
    &--load{
        margin-top: .3em;
        color: rgba(0,0,0, .5);
        font-size: .9em;
        cursor: pointer;
    }
}


// comment modal
.comment-section{
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    height: 80%;
	z-index: 10;
	border-radius: 5px 5px 0 0;
	border-top: 1px solid #e2e2e2;
	background-color: white;
	display: flex;
	flex-direction: column;
	&--top{
		flex: .2;
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		align-items: center;
		padding: 0 .5em;
		border-bottom: 1px solid #e2e2e2;
		&__title{
			font-weight: 700;
		}
		&__close{
            font-size: 1em;
            cursor: pointer;
		}
		& > i{
			font-size: 1.4em;
			transform: rotate(-25deg) translateY(-.1em);
			cursor: pointer;
		}
	}
	&--content{
		flex:1;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		border-bottom: 1px solid #e2e2e2;
		&__empty-title{
			font-size: 1.2em;
			font-weight: 600;
			text-align: center;
		}
		&__empty-subtitle{
			color: #A1A1A1;
		}
	}
	&--edit{
		flex:1;
		display: flex;
		flex-direction: column;
		align-items: center;
		&__emoji-insert{
			display: flex;
			flex-direction: row;
			gap: .5em;
			overflow: scroll;
			width: 100%;
			padding: .5em .3em;
			&::-webkit-scrollbar{
				display: none;
			}
			& > span{
				font-size: 1.5em;
				background-color: #EFEFEF;
				padding: .3em 1.1em;
				border-radius: 15px;
			}
		}
		&__form{
			width: 100%;
		}
		&__input{
			width: 100%;
			padding: .4em;
			font-size: 1.1em;
			outline: none;
			font-family: $font-text;
		}
	}
}
