@import "../../../../sass/main";

.query-list{
    display: flex;
    flex-direction: column;
    gap: 1em;
    width: 100%;
    &--usercard{
        text-decoration: none;
        color: #000;
        display: flex;
        align-items: center;
        width: 100%;
        gap: 1em;
        &__name{
            font-size: 1em;
            font-weight: 600;
        }
        &__avatar{
            width: 4.5em;
            height: 4.5em;
            border-radius: 50%;
            object-fit: cover;
        }
    }
}