$color-primary: #F85F73;
$color-secondary: #FBE8D3;
$color-tertiary: #928A97;
$color-quaternary: #283C63;

$font-title: 'Lobster', cursive;
$font-sub-title: 'Oswald', sans-serif;
$font-text: 'Raleway', sans-serif;

$breakpoints:(
    mobile: 360px,
    tablet:700px,
    desktop: 992px,
)