@import '../../sass/main';

.userinfo {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 0.5em;
    padding: 0em .5em;
    &--topwrapper {
        @include flexrow-center;
        justify-content: flex-start;
        gap: 1.5em;
    }
}

.top--data {
    display: flex;
    flex-direction: column;
    gap: 0.7em;
    &__user {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 0.7em;
    }
    &__stats {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 0.5em;
    }
}

.userinfo--bottomwrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 0.2em;
}