@import "../../sass/main";

.edituserprofile{
    padding: 4em 0em 0.5em 0em;
    &--top{
        @include flexrow-center;
        justify-content: space-between;
        padding: 0 .5em 1em .5em;
        border-bottom: 1px solid #e2e2e2;
        &__back{
            font-size: 1.1em;
            cursor: pointer;
        }
        &__title{
            font-size: 1.1em;
            font-family: $font-text;
            font-weight: 700;
        }
        &__btn{
            color: #029dff;
            border: none;
            background-color: #fff;
            font-size: 1.1em;
            font-family: $font-text;
            font-weight: 700;
            cursor: pointer;
        }
    }
    &--main{
        @include flexcenter;
    }
}

.edituser-form{
    margin-top: 1.5em;
    display: flex;
    flex-direction: column;
    width: 100%;
}
