@import "../../sass/main";



.edituserprofile{
    padding: 4em 0em 0.5em 0em;
    &--top{
        @include flexrow-center;
        justify-content: space-between;
        padding: 0 .5em 1em .5em;
        border-bottom: 1px solid #e2e2e2;
        &__back{
            font-size: 1.1em;
            cursor: pointer;
        }
        &__title{
            font-size: 1.1em;
            font-family: $font-text;
            font-weight: 700;
        }
        &__btn{
            color: #029dff;
            border: none;
            background-color: #fff;
            font-size: 1.1em;
            font-family: $font-text;
            font-weight: 700;
            cursor: pointer;
        }
    }
    &--main{
        @include flexcenter;
    }
}

.edituser-form{
    margin-top: 1.5em;
    display: flex;
    flex-direction: column;
    width: 100%;
    &--filewrapper{
        width: 100%;
        @include flexcolumn-center;
        align-self: center;
        gap: 1em;
        padding-bottom: 1em;
        margin-bottom: 1em;
        border-bottom: 1px solid #e2e2e2;
    }
    &--group{
        padding: .2em .5em;
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: .5em;
        &__label{
            width: 25%;
            font-size: 1.05em;
        }
        &__input{
            padding: 1em .5em;
            width: 70%;
            border: none;
            font-family: $font-text;
            font-size: 1em;
            &:focus{
                outline: none;
            }
        }
    }
    &--group:not(:last-child) > input {
        border-bottom: 1px solid #e2e2e2;
    }
    &--error{
        padding-left: .5em;
        font-size: .8em
    }
}

.editform-input-error{
    border-left: 1px solid red;
}
.selectfile-wrapper{
    @include flexrow-center;
    gap: 1em;
    &--current, &--preview{
        width: 100px;
        height: 100px;
        border-radius: 50%;
        border: 1px solid #e2e2e2;
    }
    &--preview{
        @include flexcenter;
        font-size: 2em;
        color: #000;
        cursor: pointer;
    }
    &--btn{
        border: none;
        background-color: #fff;
        font-family: $font-text;
        font-size: 1em;
        font-weight: 600;
        color: #029dff;
        cursor: pointer;
    }
}
// main[class="userprofile-edit"] {
//     padding: 3.5em 0em 0.5em 0em;
// }

// .edit-form {
//     margin: 0 auto;
//     display: flex;
//     flex-direction: column;
//     justify-content: center;
//     gap: 1em;
//     width: 80%;
//     &--group{
//         display: flex;
//         flex-direction: column;
//         justify-content: center;
//         &__current{
//             font-weight: bolder;
//         }
//         &__fields{
//             display: flex;
//             flex-direction: column;
//         }
//     }
// }