@import "../../sass/main";

.edituser-form--filewrapper{
    width: 100%;
    @include flexcolumn-center;
    align-self: center;
    gap: 1em;
    padding-bottom: 1em;
    margin-bottom: 1em;
    border-bottom: 1px solid #e2e2e2;
}

.selectfile-wrapper{
    @include flexrow-center;
    gap: 1em;
    &--current, &--preview{
        width: 100px;
        height: 100px;
        border-radius: 50%;
        border: 1px solid #e2e2e2;
    }
    &--preview{
        @include flexcenter;
        font-size: 2em;
        color: #000;
        cursor: pointer;
    }
    &--btn{
        border: none;
        background-color: #fff;
        font-family: $font-text;
        font-size: 1em;
        font-weight: 600;
        color: #029dff;
        cursor: pointer;
    }
}