@import "../../sass/main";

.userfollowstat-page{
    display: flex;
    flex-direction: column;
    padding-top: 3.5em;
    &--username{
        font-size: 1.2em;
        font-weight: 600;
        margin: 0 auto;
    }
    &--top{
        @include flexrow-center;
        justify-content: space-around;
        margin-bottom: .2em;
        & > span{
            font-size: 1.1em;
            width: 50%;
            text-align: center;
            padding: .5em 0;
            border-radius: 0px 0px 5px 5px;
        }
    }
    &--follow-list{
        display: flex;
        flex-grow: .8;
    }
}

.is-active-tab{
    background-color: $color-quaternary;
    color: #fff;
}