@import "../../../../sass/main";

.search-page{
    &--form{
        width: 100%;
        @include flexcenter;
        &__btn{
            background-color: $color-quaternary;
            font-size: 1.3em;
            cursor: pointer;
            outline: none;
            border: none;
            color: #fff;
            border-radius: 5px 0 0 5px;
            padding: .55em .45em .35em .45em
        };
        &__input{
            width: 100%;
            background-color: $color-quaternary;
            color: #fff;
            outline: none;
            font-size: 1.1em;
            font-family: $font-text;
            border: none;
            padding: .7em 0.6em;
            border-radius: 0 5px 5px 0;
            &::placeholder{
                color: #ffffff7f;
                font-size: .9em;
            }
        };
    };
}