.search-page{
    padding: 5.5em 0em 0.5em 0em;
    display: flex;
    flex-direction: column;
    gap: 1em;
    &--result{
        display: flex;
        padding-left: .5em;
        flex-grow: .8;
    };
}