@import "../../sass/main";


.search-page{
    display: flex;
    flex-direction: column;
    gap: 1em;
    &--search{
        display: flex;
        flex-direction: row;
        align-items: center;
        width: 100%;
        padding: 1em 1em 1em 0em;
        border-bottom: 1px solid #e2e2e2;
        box-shadow: 0px 2px 15px -1px rgba(0, 0, 0, 0.2)
    };
    &--goback{
        @include flexcenter;
        text-decoration: none;
        color: #000;
        font-size: 1.9em;
        cursor: pointer;
    };
    &--result{
        padding-left: .5em
    };
}